In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("100_patients.db")
sql_statement = "SELECT * FROM LabsCorePopulatedTable"
core = pd.read_sql_query(sql_statement, conn)
display(core)

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
2,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
3,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
4,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677
...,...,...,...,...,...,...
111478,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: HEMOGLOBIN,13.6,gm/dl,2012-04-21 03:23:50.883
111479,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCH,26.2,pg,2012-04-21 03:18:44.127
111480,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: CHLORIDE,104.4,mmol/L,2012-04-21 02:58:57.840
111481,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: GLUCOSE,63.3,mg/dL,2012-04-21 02:50:04.503
111482,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCHC,38.6,g/dl,2012-04-21 03:27:10.293

In [2]:
from IPython.display import display
import pandas as pd
import numpy as np
filename = 'PatientCorePopulatedTable.txt'

df = pd.read_csv(filename, delimiter='\t')

In [23]:
"""
SELECT *
FROM PatientCorePopulatedTable
WHERE PatientGender = 'Male' AND PatientDateOfBirth < '1950-01-01'
ORDER BY PatientDateOfBirth
"""

cond = (df['PatientID'] > '2A') & (df['PatientID'] < '53')

In [25]:
df[cond].reset_index(drop=True).sort_values('PatientID')

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
11,2A5251B1-0945-47FA-A65C-7A6381562591,Female,1942-01-07 16:45:33.060,Unknown,Married,Spanish,18.05
7,2A8772FE-61DB-483E-B6BF-6C0A74BA9C2A,Female,1966-10-14 15:31:48.427,Asian,Single,English,11.15
8,2E26695A-EFB0-4C7F-9318-E3030B154E39,Female,1963-06-28 05:37:36.843,Asian,Married,English,14.20
4,2EE42DEF-37CA-4694-827E-FA4EAF882BFC,Male,1964-04-27 00:41:40.410,White,Married,English,18.91
3,3231F930-2978-4F50-8234-755449851E7B,Male,1979-05-26 04:58:10.627,White,Single,English,18.36
2,35FE7491-1A1D-48CB-810C-8DC2599AB3DD,Male,1969-11-02 06:34:34.527,White,Married,English,4.51
5,36775002-9EC3-4889-AD4F-80DC6855C8D8,Female,1963-07-16 22:16:48.477,Asian,Single,Spanish,15.56
10,36E2F89E-777A-4D77-9D95-0D70A8AB416F,Male,1980-05-30 13:23:50.703,African American,Separated,English,19.36
1,3B11D6B3-A36A-4B69-A437-C29BF425A941,Female,1954-05-18 10:19:19.110,Asian,Separated,English,10.80
9,3E462A8F-7B90-43A1-A8B6-AD82CB5002C9,Female,1986-12-20 16:41:34.793,White,Married,Spanish,18.33
0,49DADA25-F2C2-42BB-8210-D78E6C7B0D48,Male,1962-04-08 10:18:26.263,African American,Married,English,19.50
6,4C201C71-CCED-40D1-9642-F9C8C485B854,Male,1926-09-22 09:17:14.713,African American,Married,English,10.30

In [15]:
df_new = df[cond].reset_index()

In [16]:
df_new

,index,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,0,FB2ABB23-C9D0-4D09-8464-49BF0B982F0F,Male,1947-12-28 02:45:40.547,Unknown,Married,Icelandic,18.08
1,10,1A40AF35-C6D4-4D46-B475-A15D84E8A9D5,Male,1949-01-10 15:37:35.543,White,Married,English,11.25
2,11,DA6CECFF-DE13-4C4C-919F-64E1A2B76C9D,Male,1924-06-27 19:37:58.823,Asian,Divorced,English,83.75
3,13,7C788499-7798-484B-A027-9FCDC4C0DADB,Male,1926-08-13 10:22:16.247,White,Married,English,11.89
4,18,25B786AF-0F99-478C-9CFA-0EA607E45834,Male,1926-08-20 00:21:38.870,White,Married,English,93.60
5,28,FFCDECD6-4048-4DCB-B910-1218160005B3,Male,1941-05-06 14:56:42.687,White,Single,English,14.49
6,34,967987B9-FFEF-4776-85CF-AE05CA81F583,Male,1947-02-13 10:26:55.520,White,Widowed,English,88.66
7,35,9BBF3A51-443D-438B-9289-B98B8E0577C0,Male,1944-11-25 06:12:56.860,White,Married,English,16.76
8,42,A0A976C8-9B30-4492-B8C4-5B25095B9192,Male,1931-05-26 14:54:15.847,Asian,Single,English,19.52
9,45,E483DE6E-D4E6-47FD-905B-22EE86EC7ACE,Male,1945-11-18 04:14:31.573,African American,Single,English,16.88
10,47,53B9FFDD-F80B-43BE-93CF-C34A023EE7E9,Male,1921-08-22 19:17:09.227,White,Divorced,Icelandic,18.17
11,48,C5D09468-574F-4802-B56F-DB38F4EB1687,Male,1939-07-07 19:39:49.753,African American,Married,Icelandic,10.87
12,58,21792512-2D40-4326-BEA2-A40127EB24FF,Male,1938-03-24 19:25:53.980,White,Single,Unknown,89.44
13,62,4C201C71-CCED-40D1-9642-F9C8C485B854,Male,1926-09-22 09:17:14.713,African American,Married,English,10.30
14,73,DDC0BC57-7A4E-4E02-9282-177750B74FBC,Male,1921-03-26 14:38:51.803,White,Single,English,18.41
15,87,1A220558-5996-43E1-AE5D-7B96180FED35,Male,1937-09-07 22:23:53.143,Asian,Married,English,15.11
16,99,FB909FAE-72DD-4F6F-9828-D92183DF185F,Male,1940-07-15 12:18:41.080,White,Single,Spanish,14.90

In [ ]:
SELECT *
FROM PatientCorePopulatedTable
WHERE (PatientGender = 'Male' OR PatientRace = 'White') AND PatientDateOfBirth < '1950-01-01'
ORDER BY PatientDateOfBirth

In [18]:
cond = 
df_new = df[cond].reset_index(drop=True)
display(df_new)

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,FB2ABB23-C9D0-4D09-8464-49BF0B982F0F,Male,1947-12-28 02:45:40.547,Unknown,Married,Icelandic,18.08
1,C8556CC0-32FC-4CA5-A8CD-9CCF38816167,Female,1921-04-11 11:39:49.197,White,Married,English,18.20
2,B39DC5AC-E003-4E6A-91B6-FC07625A1285,Female,1935-11-03 21:07:09.040,White,Married,English,15.31
3,FA157FA5-F488-4884-BF87-E144630D595C,Female,1932-11-01 06:19:56.577,White,Single,English,16.32
4,1A40AF35-C6D4-4D46-B475-A15D84E8A9D5,Male,1949-01-10 15:37:35.543,White,Married,English,11.25
5,DA6CECFF-DE13-4C4C-919F-64E1A2B76C9D,Male,1924-06-27 19:37:58.823,Asian,Divorced,English,83.75
6,7C788499-7798-484B-A027-9FCDC4C0DADB,Male,1926-08-13 10:22:16.247,White,Married,English,11.89
7,25B786AF-0F99-478C-9CFA-0EA607E45834,Male,1926-08-20 00:21:38.870,White,Married,English,93.60
8,81C5B13B-F6B2-4E57-9593-6E7E4C13B2CE,Female,1930-05-28 02:59:42.857,White,Married,Icelandic,19.22
9,FFCDECD6-4048-4DCB-B910-1218160005B3,Male,1941-05-06 14:56:42.687,White,Single,English,14.49
10,967987B9-FFEF-4776-85CF-AE05CA81F583,Male,1947-02-13 10:26:55.520,White,Widowed,English,88.66
11,9BBF3A51-443D-438B-9289-B98B8E0577C0,Male,1944-11-25 06:12:56.860,White,Married,English,16.76
12,80D356B4-F974-441F-A5F2-F95986D119A2,Female,1938-03-06 18:24:18.297,White,Single,English,18.88
13,A0A976C8-9B30-4492-B8C4-5B25095B9192,Male,1931-05-26 14:54:15.847,Asian,Single,English,19.52
14,E483DE6E-D4E6-47FD-905B-22EE86EC7ACE,Male,1945-11-18 04:14:31.573,African American,Single,English,16.88
15,53B9FFDD-F80B-43BE-93CF-C34A023EE7E9,Male,1921-08-22 19:17:09.227,White,Divorced,Icelandic,18.17
16,C5D09468-574F-4802-B56F-DB38F4EB1687,Male,1939-07-07 19:39:49.753,African American,Married,Icelandic,10.87
17,21792512-2D40-4326-BEA2-A40127EB24FF,Male,1938-03-24 19:25:53.980,White,Single,Unknown,89.44
18,4C201C71-CCED-40D1-9642-F9C8C485B854,Male,1926-09-22 09:17:14.713,African American,Married,English,10.30
19,0E0EADE8-5592-4E0B-9F88-D7596E32EE08,Female,1942-07-13 21:15:37.517,White,Married,Spanish,18.80
20,DDC0BC57-7A4E-4E02-9282-177750B74FBC,Male,1921-03-26 14:38:51.803,White,Single,English,18.41
21,E250799D-F6DE-4914-ADB4-B08A6E5029B9,Female,1945-08-04 19:03:00.757,White,Single,Unknown,12.86
22,66154E24-D3EE-4311-89DB-6195278F9B3C,Female,1944-08-26 13:03:24.297,White,Divorced,English,19.49
23,1A220558-5996-43E1-AE5D-7B96180FED35,Male,1937-09-07 22:23:53.143,Asian,Married,English,15.11
24,FB909FAE-72DD-4F6F-9828-D92183DF185F,Male,1940-07-15 12:18:41.080,White,Single,Spanish,14.90

In [26]:
from IPython.display import display
import pandas as pd
import numpy as np
filename = 'AdmissionsDiagnosesCorePopulatedTable.txt'

df = pd.read_csv(filename, delimiter='\t')

In [32]:
df[df['PrimaryDiagnosisCode'].str.contains('5.')]

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
3,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,5,M05.51,Rheumatoid polyneuropathy with rheumatoid arth...
5,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,2,G55,Nerve root and plexus compressions in diseases...
6,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,3,M51,"Thoracic, thoracolumbar, and lumbosacral inter..."
9,7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,M05.442,Rheumatoid myopathy with rheumatoid arthritis ...
14,7A025E77-7832-4F53-B9A7-09A3F98AC17E,6,C54.3,Malignant neoplasm of fundus uteri
...,...,...,...,...
347,EEAFC0B3-B835-4D99-AB33-2F9428E54E5F,2,M05.59,Rheumatoid polyneuropathy with rheumatoid arth...
350,2EE42DEF-37CA-4694-827E-FA4EAF882BFC,1,C57.21,Malignant neoplasm of right round ligament
366,2A8772FE-61DB-483E-B6BF-6C0A74BA9C2A,2,M05.13,Rheumatoid lung disease with rheumatoid arthri...
368,C65A4ADE-112E-49E4-B72A-0DED22C242ED,1,M05.27,Rheumatoid vasculitis with rheumatoid arthriti...
370,C65A4ADE-112E-49E4-B72A-0DED22C242ED,3,D35.2,Benign neoplasm of pituitary gland

In [75]:
from IPython.display import display
import pandas as pd
import numpy as np
filename = 'LabsCorePopulatedTable.txt'

df = pd.read_csv(filename, delimiter='\t')

In [69]:
data = df.groupby('PatientID')['PatientID'].count().sort_values(ascending=False)

In [73]:
df = pd.DataFrame(data)
df.reset_index(drop=True)

    PatientID
0        2760
1        2561
2        2372
3        2263
4        2259
..        ...
95        399
96        360
97        230
98        130
99         86

[100 rows x 1 columns]

In [84]:
df.groupby(["PatientID"]).agg({"PatientID": ["count"]}).sort_values('count')

                                     PatientID
                                         count
PatientID
016A590E-D093-4667-A5DA-D68EA6987D93      1132
03A481F5-B32A-4A91-BD42-43EB78FEBA77       528
0681FA35-A794-4684-97BD-00B88370DB41       913
0A9BA3E4-CF3C-49C4-9774-5EEA2EE7D123       958
0BC491C5-5A45-4067-BD11-A78BEA00D3BE       725
...                                        ...
FA157FA5-F488-4884-BF87-E144630D595C      1160
FB2ABB23-C9D0-4D09-8464-49BF0B982F0F       627
FB909FAE-72DD-4F6F-9828-D92183DF185F       832
FE0B9B59-1927-45B7-8556-E079DC1DE30A       679
FFCDECD6-4048-4DCB-B910-1218160005B3      1136

[100 rows x 1 columns]

In [77]:
df

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
2,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
3,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
4,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677
...,...,...,...,...,...,...
111478,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: HEMOGLOBIN,13.6,gm/dl,2012-04-21 03:23:50.883
111479,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCH,26.2,pg,2012-04-21 03:18:44.127
111480,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: CHLORIDE,104.4,mmol/L,2012-04-21 02:58:57.840
111481,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: GLUCOSE,63.3,mg/dL,2012-04-21 02:50:04.503
111482,F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCHC,38.6,g/dl,2012-04-21 03:27:10.293

In [89]:
df['PatientID'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'

In [90]:
x = df['PatientID']

In [93]:
df2 = df['PatientID']

x.value_counts()

80D356B4-F974-441F-A5F2-F95986D119A2    2760
25B786AF-0F99-478C-9CFA-0EA607E45834    2561
36775002-9EC3-4889-AD4F-80DC6855C8D8    2372
A0A976C8-9B30-4492-B8C4-5B25095B9192    2263
7A025E77-7832-4F53-B9A7-09A3F98AC17E    2259
                                        ...
672D554B-D6D1-40B2-A6A4-21A4CB6B1AA6     399
C2CCB1AB-6633-4CB3-B4E8-157E6FB02376     360
8856096E-E59C-4156-A767-C091AF799C80     230
A50BE9B4-8A0B-4169-B894-F7BD86D7D90B     130
B7E9FC4C-5182-4A34-954E-CEF5FC07E96D      86
Name: PatientID, Length: 100, dtype: int64

In [94]:
df2['Count'] =

0         1A8791E3-A61C-455A-8DEE-763EB90C9B2C
1         1A8791E3-A61C-455A-8DEE-763EB90C9B2C
2         1A8791E3-A61C-455A-8DEE-763EB90C9B2C
3         1A8791E3-A61C-455A-8DEE-763EB90C9B2C
4         1A8791E3-A61C-455A-8DEE-763EB90C9B2C
                          ...
111478    F0B53A2C-98CA-415D-B928-E3FD0E52B22A
111479    F0B53A2C-98CA-415D-B928-E3FD0E52B22A
111480    F0B53A2C-98CA-415D-B928-E3FD0E52B22A
111481    F0B53A2C-98CA-415D-B928-E3FD0E52B22A
111482    F0B53A2C-98CA-415D-B928-E3FD0E52B22A
Name: PatientID, Length: 111483, dtype: object

In [108]:
data = pd.DataFrame(data=x.value_counts())

In [109]:
data.reset_index(inplace=True)

In [112]:
data.columns = ['PatientID', 'Count']

In [113]:
data

                               PatientID  Count
0   80D356B4-F974-441F-A5F2-F95986D119A2   2760
1   25B786AF-0F99-478C-9CFA-0EA607E45834   2561
2   36775002-9EC3-4889-AD4F-80DC6855C8D8   2372
3   A0A976C8-9B30-4492-B8C4-5B25095B9192   2263
4   7A025E77-7832-4F53-B9A7-09A3F98AC17E   2259
..                                   ...    ...
95  672D554B-D6D1-40B2-A6A4-21A4CB6B1AA6    399
96  C2CCB1AB-6633-4CB3-B4E8-157E6FB02376    360
97  8856096E-E59C-4156-A767-C091AF799C80    230
98  A50BE9B4-8A0B-4169-B894-F7BD86D7D90B    130
99  B7E9FC4C-5182-4A34-954E-CEF5FC07E96D     86

[100 rows x 2 columns]

In [119]:
data1= df.groupby('PatientID')['PatientID'].count()

PatientID
016A590E-D093-4667-A5DA-D68EA6987D93    1132
03A481F5-B32A-4A91-BD42-43EB78FEBA77     528
0681FA35-A794-4684-97BD-00B88370DB41     913
0A9BA3E4-CF3C-49C4-9774-5EEA2EE7D123     958
0BC491C5-5A45-4067-BD11-A78BEA00D3BE     725
                                        ...
FA157FA5-F488-4884-BF87-E144630D595C    1160
FB2ABB23-C9D0-4D09-8464-49BF0B982F0F     627
FB909FAE-72DD-4F6F-9828-D92183DF185F     832
FE0B9B59-1927-45B7-8556-E079DC1DE30A     679
FFCDECD6-4048-4DCB-B910-1218160005B3    1136
Name: PatientID, Length: 100, dtype: int64

In [121]:
df['PatientID'].value_counts()

80D356B4-F974-441F-A5F2-F95986D119A2    2760
25B786AF-0F99-478C-9CFA-0EA607E45834    2561
36775002-9EC3-4889-AD4F-80DC6855C8D8    2372
A0A976C8-9B30-4492-B8C4-5B25095B9192    2263
7A025E77-7832-4F53-B9A7-09A3F98AC17E    2259
                                        ...
672D554B-D6D1-40B2-A6A4-21A4CB6B1AA6     399
C2CCB1AB-6633-4CB3-B4E8-157E6FB02376     360
8856096E-E59C-4156-A767-C091AF799C80     230
A50BE9B4-8A0B-4169-B894-F7BD86D7D90B     130
B7E9FC4C-5182-4A34-954E-CEF5FC07E96D      86
Name: PatientID, Length: 100, dtype: int64

In [141]:
display(df[df['LabName']=='URINALYSIS: RED BLOOD CELLS'].groupby('PatientID')['LabValue'].agg(['sum', 'mean', 'count', 'min', 'max']).sort_values('mean'))

                                       sum      mean  count  min  max
PatientID
B7E9FC4C-5182-4A34-954E-CEF5FC07E96D   2.0  0.666667      3  0.1  1.5
A50BE9B4-8A0B-4169-B894-F7BD86D7D90B   3.9  1.300000      3  0.1  2.7
B5D31F01-7273-4901-B56F-8139769A11EF  29.1  1.322727     22  0.3  3.5
C242E3A4-E785-4DF1-A0E4-3B568DC88F2E  20.0  1.333333     15  0.0  3.3
6A57AC0C-57F3-4C19-98A1-51135EFBC4FF  49.6  1.340541     37  0.0  3.3
...                                    ...       ...    ...  ...  ...
8AF47463-8534-4203-B210-C2290F6CE689  70.3  2.130303     33  0.1  3.5
1A8791E3-A61C-455A-8DEE-763EB90C9B2C  53.8  2.152000     25  0.1  3.1
B2EB15FA-5431-4804-9309-4215BDC778C0  56.5  2.173077     26  0.6  3.3
EA7C2F0F-DA1C-4CE8-9700-4BB1FC7AF3FB  78.4  2.177778     36  0.0  3.3
69CC25ED-A54A-4BAF-97E3-774BB3C9DED1  37.8  2.223529     17  0.5  3.5

[100 rows x 5 columns]

In [ ]:
)